body {
    margin: 0;
    font-weight: 300;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #E5EDFF;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo1 {
    float: left;
    padding: 30px 0 15px;
    margin-left: 30px;
}

.logo2 {
    float: left;
    padding: 30px 0 15px;
    margin-left: 30px;
}

.logo .logo2 {
    display: none;
}

.logo:hover .logo1 {
    display: none;
}

.logo:hover .logo2 {
    display: block;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 50px;

    position: relative;
}

nav a{ 
    color: black;
    text-decoration: none;
    font-family: Koralle NF;
    font-size: 18px;
}

nav a:hover {
    color: #4469A6;
}
    
nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #4469A6;
    border-radius: 10px;

    position: absolute;
    width: 0%;
    bottom:0;
    margin-bottom: -10px;

    transition: ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

hr.solid {
    border-top: 6px solid #D3DCF2;
    margin: 0;
}

.heroImg {
    position: relative;
    top: 50px;
    left: 120px;
}

h1 {
    font-family: Koralle NF;
    font-size: 48px;
}

h2 {
    font-family: Koralle NF;
}

/*My Skills Section*/

h3 {
    font-family: Koralle NF;
    font-size: 24px;
}

#headerSkills h1 {
    padding: 20px;
    text-align: center;
}

.flexContainer {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid rgb(43, 43, 133);
    border-radius: 20px;
    padding: 20px;
    margin: 50px;
}

.flexbox-item {
    width: 20%;
    height: 350px;
    padding: 20px;
    margin: 10px;
    background-color: beige;
    border-radius: 10px;

}


/*My Work Section*/

#headerWork h1 {
    padding:10px;
    text-align: center;
}

.workGrid {
    display: grid;
    margin: 0px 5%;
    grid-template-columns: 30% auto;
    grid-template-areas: 
    "item-A item-A1"
    "item-B item-B1"
    "item-C item-C1";
    border: 2px solid rgb(43, 43, 133);
    border-radius: 20px;
    box-sizing: border-box;
    
}

#workGrid-item {
    color: beige;
    padding: 20px;
    border-radius: 20px;
}
/*
.item-1 {
   
}

.item-2 {
    
}
.item-3 {
    
}
.item-4 {
    
}
.item-5 {
    
}
.item-6 {
    
}

/*footer*/


footer {
    background: #E5EDFF;
}

footer::after {
    content: '';
    display: table;
    clear: both;
}

.footer-nav {
    float: left;
}

footer a{ 
    color: black;
    text-decoration: none;
    font-family: Koralle NF;
    font-size: 18px;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer li {
    display: inline-block;
    margin-left: 70px;
    padding-bottom: 50px;

    /*position: relative;*/
}

footer a{ 
    color: black;
    text-decoration: none;
    font-family: Koralle NF;
    font-size: 18px;
}

i.mysize {font-size: 36px;}

footer i {
    float: right;
}

@media only screen and (max-width: 600){
    .flexContainer {
        flex-direction: column; }
    .flexbox-item {
        width: 100%;
    }
    .workGrid {
        grid-template-rows: 300px 300px 300px 300px 300px 300px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "item-A"
        "item-A1"
        "item-B"
        "item-B1"
        "item-C"
        "item-C1";
    }
}


